.basic-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    'a a'
    'b c';
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 4fr 6fr;
}

.fireship-card:nth-child(1) {
  grid-area: a;
  font-size: 2rem;
  align-items: left;
  padding-left: 1rem;
}

.fireship-card:nth-child(2) {
  /* picture */
  grid-area: b;
  padding: 10px 10px 10px 10px;
  align-items: center;
  background-image: url('./images/pfp.png');
}

.fireship-card:nth-child(3) {
  grid-area: c;
  align-items: left;
  padding: 1em;
  font-size: 1em;
}

.fireship-card:nth-child(3) > p {
  margin-bottom: 0;
}

.fireship-card:nth-child(3) > hr {
  margin-bottom: 10px;
  margin-top: 0;
}

.fireship-card:nth-child(3) > *:not(hr) {
  margin-left: 3%;
}

.fireship-card {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  color: white;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .fireship-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1);
} */
