.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.progress {
  background-image: linear-gradient(to left, #00f260, #0575e6);
  height: 13px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
  margin-top: 0.2em;
}
